Lenguaje de marcas ejerccios/xml/saludos.dtd

<!ELEMENT saludo (persona+)>
<!ELEMENT persona (alumno,mensaje,curso,dni,edad,casado,sueldo,hijos)>
<!ATTLIST persona id NMTOKEN #REQUIRED>
<!ELEMENT alumno (#PCDATA)>
<!ELEMENT mensaje (#PCDATA)>
<!ELEMENT curso (#PCDATA)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT edad (#PCDATA)>
<!ELEMENT casado (#PCDATA)>
<!ELEMENT sueldo (#PCDATA)>
<!ELEMENT hijos (#PCDATA)>